---
import aboutImg from "@/assets/about-astro.png";
import PageLayout from "@/layouts/Base.astro";
import { Image } from "astro:assets";

const meta = {
	description: "I'm a starter theme for Astro.build",
	title: "About",
};
---

<PageLayout meta={meta}>
	<div class="space-y-6">
		<h1 class="title">About</h1>
		<p>
			We are in Dublin creating the most accurate AI models that we can muster. No hallucination, no
			made up answers. Only grounded facts.
		</p>
		<p>How can you know? We publish ALL our test data and methods.</p>
    <p></p>
	</div>
</PageLayout>
